{% extends 'base/go3base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Edit Profile" %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-12">
        <div class="page-header">
            {% trans "Profile" %}
        </div>

        <form method="post" class="form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.errors }}

            <div class="form-group">
                {{ form.email.errors }}
                {{ form.email.label_tag }}
                {% render_field form.email class="form-control" %}
            </div>


            <div class="form-group">
                {{ form.username.errors }}
                {{ form.username.label_tag }}
                {% render_field form.username class="form-control" %}
            </div>

            <div class="form-group">
                {{ form.nickname.errors }}
                {{ form.nickname.label_tag }}
                {% render_field form.nickname class="form-control" %}
            </div>

            <div class="row">
                <div class="form-group col-12 col-md-6">
                    {{ form.phone.errors }}
                    {{ form.phone.label_tag }}
                    {% render_field form.phone class="form-control" %}
                </div>
            </div>

            <div class="form-group">
                {{ form.statement.errors }}
                {{ form.statement.label_tag }}
                {% render_field form.statement class="form-control" %}
            </div>

            <div class="form-group">
                {{ form.images.errors }}
                {{ form.images.label_tag }}
                {% render_field form.images class="form-control" %}
                {% trans "images_instructions" %}
<!--
                (Needs to be links to images. To use an image from facebook, right-click on the image and select "Copy Image URL", then
                paste it here.)
 -->
            </div>
            <div class="row mt-4">
                {% if request.user.is_superuser %}
                    <div class="form-group col-12 col-md-6">
                        <a hx-confirm="{% trans 'Are you sure you want to delete this account?' %}"
                           href="{% url 'member-delete' pk=member.id %}" class="btn btn-secondary">{% trans "Delete" %}</a>
                    </div>
                {% endif %}
                <div class="form-group col-12 col-md-6 ml-auto text-right">
                    <a class="btn btn-secondary" href="{% url 'member-detail' pk=member.id %}">{% trans "Cancel" %}</a>
                    <button value="Update" type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
