{% load i18n %}
{% if assocs|length %}
    {% for assoc in assocs %}
        <div class="row" style="padding-top: 5px; padding-bottom: 5px; {% cycle '' 'background:#f5f5f5;' %}">
            {% if not assoc.is_confirmed %}
                <div class="col-3">
                    <a href="{% url 'band-detail' pk=assoc.band.id %}">{{assoc.band.name}}</a>
                    ({% trans "pending" %})
                </div>
                <div class="col-9">
                    <button class="btn btn-secondary btn-sm" onclick="leave_band('{{assoc.id}}','{{assoc.band.name}}')">{% trans "Cancel" %}</button>
                </div>

            {% else %}
                <div class="col-3">
                    <a href="{% url 'band-detail' pk=assoc.band.id %}">{{assoc.band.name}}</a>
                </div>
                <div class="col-9">
                    {% if assoc.band.sections.all|length > 0 %}
                        <div class="row" style="padding-bottom: 5px;">
                            <div class="col-6">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" id='sbk-{{assoc.band.id}}'>
                                        {{assoc.default_section.name}} <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu" role="menu" aria-labelledby="sbk-{{assoc.band.id}}">
                                        {% for section in assoc.band.sections.all %}
                                            <a class="dropdown-item"
                                            hx-put="/band/assoc/{{ assoc.id }}/section/{{ section.id }}"
                                            hx-trigger="click"
                                            hx-target="#bandlist"
                                            >{{ section.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id='msbk-{{assoc.id}}'
                                    hx-post="/band/assoc/{{ assoc.id }}/tfparam/is_multisectional/{% if assoc.is_multisectional %}false{% else %}true{% endif %}"
                                    hx-trigger="click"
                                    hx-swap="outerHTML"
                                    {% if assoc.is_multisectional %}
                                        checked
                                    {% endif %}
                                    >
                                    <label class="form-check-label" for="msbk-{{assoc.band.id}}">{% trans "other sections, too" %}</label>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row" style="padding-bottom: 5px;">
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id='oak-{{assoc.id}}'
                                hx-post="/band/assoc/{{ assoc.id }}/tfparam/is_occasional/{% if assoc.is_occasional %}false{% else %}true{% endif %}"
                                hx-trigger="click"
                                hx-swap="outerHTML"
                                {% if assoc.is_occasional %}
                                    checked
                                {% endif %}
                                >
                                <label class="form-check-label" for="oak-{{assoc.id}}">{% trans "occasional" %}</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id='hideak-{{assoc.id}}'
                                hx-post="/band/assoc/{{ assoc.id }}/tfparam/hide_from_schedule/{% if assoc.hide_from_schedule %}false{% else %}true{% endif %}"
                                hx-trigger="click"
                                hx-swap="outerHTML"
                                {% if assoc.hide_from_schedule %}
                                    checked
                                {% endif %}
                                >
                                <label class="form-check-label" for="hideak-{{assoc.id}}">{% trans "hide from calendar" %}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id='mailbk-{{assoc.id}}'
                                        hx-post="/band/assoc/{{ assoc.id }}/tfparam/email_me/{% if assoc.email_me %}false{% else %}true{% endif %}"
                                        hx-trigger="click"
                                        hx-swap="outerHTML"
                                        {% if assoc.email_me %}
                                            checked
                                        {% endif %}
                                        >
                                        <label class="form-check-label" for="mailbk-{{assoc.id}}">{% trans "email notifications" %}</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" id='cbk-{{assoc.id}}'>
                                            {% include "member/color.html" %}
                                        </button>
                                        <div class="dropdown-menu" role="menu" aria-labelledby="cbk-{{assoc.band.id}}" style="min-width:10px">
                                            {% for c in the_colors %}
                                                <a class="dropdown-item" id="color-{{forloop.counter0}}"
                                                    hx-post="/band/assoc/{{ assoc.id }}/color/{{ forloop.counter0 }}"
                                                    hx-trigger="click"
                                                    hx-target="#cbk-{{ assoc.id }}"
                                                >{% if forloop.first %}
                                                    <i class="far fa-square"></i>
                                                {% else %}
                                                    <i class="fas fa-square" style="color:{{ c }};"></i>
                                                {% endif %}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-secondary btn-sm" onclick="leave_band('{{assoc.id}}','{{assoc.band.name}}')">{% trans "Leave Band" %}</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    {% trans "You need to add a band!" %}
{% endif %}
<div hx-get="/member/{{ member_id }}/otherbands" hx-trigger="load">
</div>
