{% extends 'base/go3base.html' %}
{% load i18n %}

{% block title %}{% trans "Profile" %}{% endblock title %}

{% block headcontent %}
{% endblock headcontent %}

{% block content %}
<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-12">
        <div class="page-header">
            {% trans "Preferences" %}
        </div>
        <form method="post" class="form mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row mt-4">
                <div class="form-group col-12 col-md-6 ml-auto text-right">
                    <a class="btn btn-secondary" href="{% url 'member-detail' pk=user.id %}">{% trans "Cancel" %}</a>
                    <button value="Update" type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
