{% load i18n %}
{% if bands %}
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
            <div class="dropdown">
                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle text-center" data-toggle="dropdown">
                    <i class="fas fa-plus-square"></i> {% trans "Add Band" %}
                </button>
                <div class="dropdown-menu" style="-index: 100000 !important;">
                    {% for a_band in bands %}
                        <a class="dropdown-item" role="presentation" role="menuitem" tabindex="-1" href="#" hx-ext="reload" hx-post="{% url 'assoc-join' bk=a_band.id mk=member_id %}" hx-trigger="click" hx-target="#bandlist">{{a_band.name}}</a>
                    {% endfor %}
                </div>
            </div> <!-- dropdown -->
        </div>
    </div> <!-- row -->
{% endif %}
