{% extends 'base/go3base.html' %}
{% load i18n %}

{% block title %}{% trans "Profile" %}{% endblock title %}

{% block headcontent %}
{% endblock headcontent %}

{% block content %}
<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-12">
        {% include 'base/messages.html' %}

        <div class="page-header">
            {% trans "Profile" %}
        </div>

        <div class="card">
            <div class="card-header">
                <div class="row titlerow">
                    <div class="col-4">
                        {% trans "Info" %}
                    </div>
                    {% if member_is_me or user.is_superuser %}
                        <div class="ml-auto">
                            <a class="btn btn-primary btn-sm" href="{% url 'member-update' pk=member.id %}">{% trans "Edit" %}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3 col-12">{% trans "Name" %}</div>
                    <div class="col-sm-9 col-12">{{  member.username|escape }}
                        {% if  member.nickname %}
                            ({{  member.nickname | escape }})
                        {% endif %}
                    </div>
                </div>
                {% if show_email %}
                    <div class="row">
                        <div class="col-sm-3 col-12">{% trans "Email" %}</div>
                        <div class="col-sm-9 col-12"><a href="mailto:{{ member.email}}">{{  member.email }}</a>
                        {% if email_change_msg %}<br>{{ email_change_msg }}{% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if member_is_me %}
                    <div class="row mt-4">
                        <div class="col-sm-3 col-12">{% trans "Password" %}</div>
                        <div class="col-sm-9 col-12">
                            <a class="btn btn-primary btn-sm" href="{% url 'member-password-change' %}">{% trans "Change Password" %}
                            </a>
                        </div>
                    </div>
                {% endif %}
                {% if  member.phone %}
                    <div class="row">
                        <div class="col-sm-3 col-12">{% trans "Phone" %}</div>
                        <div class="col-sm-9 col-12">{{  member.phone|escape }}</div>
                    </div>
                {% endif %}
                {% if member.statement %}
                    <div class="row mt-4">
                        <div class="col-sm-3 col-12">{% trans "Personal Statement" %}</div>
                        <div class="col-sm-9 col-12">{{  member.statement|escape }}</div>
                    </div>
                {% endif %}
                {% if not member_is_me  %}
                    <div class="row mt-4">
                        <div class="col-sm-3 col-12">{% trans "My Bands" %}</div>
                        <div class="col-sm-9 col-12">
                            {% for the_band in the_member_bands %}
                                <a href="{% url 'band-detail' pk=the_band.id %}">{{ the_band.name }}</a>{% if forloop.last == False %}, {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if  member.images %}
        {% comment %}TODO{% endcomment %}
            <div class="card mt-4">
                <div class="card-header">
                    <div class="row titlerow">
                        <div class="col-12">
                            {% trans "Pictures Of Me" %}
                        </div>
                    </div>
                </div>
                <div class="card-body" id="pictures">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                        {% for i in  member.images %}
                            <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
                              <img class="d-block img-fluid" src="{{i}}">
                            </div>
                        {% endfor %}
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <i class="fas fa-chevron-left fa-2x" style="color:gray;" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <i class="fas fa-chevron-right fa-2x" style="color:gray;" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>

                </div>
            </div>
        {% endif %}

        {% if member_is_me or user.is_superuser %}
            {% if invites %}
                <div class="card mt-4">
                    <div class="card-header">
                        <div class="row titlerow">
                            <div class="col-12">
                                {% trans "Invites" %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% for invite in invites %}
                            <div class="row" style="padding-top: 5px; padding-bottom: 5px; {% cycle '' 'background:#f5f5f5;' %}">
                                <div class="col-4">
                                    <a href="{% url 'band-detail' pk=invite.band.id %}">{{ invite.band.name }}</a>
                                </div>
                                <div class="col-4">
                                    <a href="{% url 'member-invite-accept' pk=invite.id %}" class="btn btn-primary btn-sm">{% trans "Accept Invitation" %}</a>
                                </div>
                                <div class="col-4">
                                    <a href="{% url 'member-invite-delete' pk=invite.id %}" class="btn btn-secondary btn-sm">{% trans "Decline Invitation" %}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="card mt-4">
                <div class="card-header">
                    <div class="row titlerow">
                        <div class="col-12">
                            {% trans "Bands" %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="bandlist" hx-get="{% url 'member-assocs' pk=member.id %}" hx-trigger="load,reload">
                        <i class="fas fa-spinner fa-pulse"></i>
                    </div>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-header">
                    <div class="row titlerow">
                        <div class="col-4">
                            {% trans "Preferences" %}
                        </div>
                        {% if user.id == member.id or user.is_superuser %}
                            <div class="ml-auto">
                                <a class="btn btn-primary btn-sm" href="{% url 'member-prefs-update' pk=member.id %}">{% trans "Edit" %}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="d-none d-sm-inline col-sm-3">{% trans "Hide canceled gigs" %}:</div>
                        <div class="d-none d-sm-inline col-sm-9">{% include "base/tf.html" with value=member.preferences.hide_canceled_gigs %}</div>
                        <div class="col-12 d-sm-none">{% trans "Hide canceled gigs" %}: {% include "base/tf.html" with value=member.preferences.hide_canceled_gigs %}</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="d-none d-sm-inline col-sm-3">{% trans "Share my profile" %}:</div>
                        <div class="d-none d-sm-inline col-sm-3">{% include "base/tf.html" with value=member.preferences.share_profile %}</div>
                        <div class="col-12 d-sm-none">{% trans "Share my profile" %}: {% include "base/tf.html" with value=member.preferences.share_profile %}</div>
                    </div>
                    <div class="row">
                        <div class="d-none d-sm-inline col-sm-3">{% trans "Share my email" %}:</div>
                        <div class="d-none d-sm-inline col-sm-3">{% include "base/tf.html" with value=member.preferences.share_email %}</div>
                        <div class="col-12 d-sm-none">{% trans "Share my email" %}: {% include "base/tf.html" with value=member.preferences.share_email %}</div>
                    </div>
                    <br>
                    <div class="row">
                        {% comment %}
                        TODO
                        {% endcomment %}
                        <div class="col-sm-3 col-12">{% trans "Calendar URL for My Bands" %}</div>
                        <div class="col-sm-9 col-12">
                                <a href="{% url 'member-calfeed' pk=user.cal_feed_id %}" onclick="return false;">{% trans "Subscribe using this link's URL" %}</a> [<a href="{% url 'help-calfeed' pk=user.id %}">{% trans "click here for help" %}</a>]
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="d-none d-sm-inline col-sm-3">{% trans "Calendar shows only confirmed gigs" %}:</div>
                        <div class="d-none d-sm-inline col-sm-3">{% include "base/tf.html" with value=member.preferences.calendar_show_only_confirmed %}</div>
                        <div class="col-12 d-sm-none">{% trans "Calendar shows only confirmed gigs" %}: {% include "base/tf.html" with value=member.preferences.calendar_show_only_confirmed %}</div>
                    </div>
                    <div class="row">
                        <div class="d-none d-sm-inline col-sm-3">{% trans "Calendar shows only gigs I can do (or maybe can do)" %}:</div>
                        <div class="d-none d-sm-inline col-sm-3">{% include "base/tf.html" with value=member.preferences.calendar_show_only_committed %}</div>
                        <div class="col-12 d-sm-none">{% trans "Calendar shows only gigs I can do (or maybe can do)" %}: {% include "base/tf.html" with value=member.preferences.calendar_show_only_committed %}</div>
                    </div>
                    {% if user.is_superuser %}
                        <br>
                        <div class="row">
                            <div class="col-sm-3 col-12">Verified:</div>
                            <div class="col-sm-9 col-12">
                                {{  member.verified }}
                                {% if  member.verified == False %}
                                    <a class="btn btn-primary btn-sm" href="/verify_member?mk={{  member.id }}">verify</a>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3 col-12">{% trans "Last Activity:" %}</div>
                            <div class="col-sm-9 col-12">
                                {% if  member.last_login %}
                                    {{  member.last_login }}
                                {% else %}
                                    None since 2014-10-18
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div> <!-- card -->
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block modal %}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Confirm Delete" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>{% trans "Do you really want to leave" %} <span id='band-name'></span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">{% trans "Don't Leave" %}</button>
                    <a class="btn btn-primary btn-sm" href="#" id="leave-ak" data-dismiss="modal">{% trans "Yes, Leave" %}</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock modal %}

{% block localscripts %}
<script>
function leave_band(ak, bandname) {
    $('#band-name').html(bandname);
    $('#leave-ak').attr('onclick',"do_delete("+ak+")");
    $('#deleteModal').modal('show');
}

function do_delete(ak){
    $(`#leave-${ak}`)[0].dispatchEvent(new Event('bootstrap-confirm'));
}
</script>
{% endblock localscripts %}
