{% extends 'base/logged_out.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Signed Up!" %}{% endblock title %}

{% block content %}
    <div id="landingpage_content">
        <div class="row">
            <div class="mx-auto col-md-8 col-12">
                <div class="page-header mb-4">
                    <h3>{% trans "Signed Up!" %}</h3>
                </div>

                <p>{% blocktrans %}Great job&mdash;you've signed up. A confirmation email has been sent to {{ email }}.  Follow those directions to complete the process.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
