asgiref==3.2.3
astroid==2.3.3
certifi==2019.11.28
Django==3.0.3
django-crispy-forms==1.8.1
django-extensions==2.2.5
django-q==1.2.0
django-simple-history==2.8.0
django-widget-tweaks==1.4.5
icalendar==4.0.4
isort==4.3.21
Jinja2==2.10.3
lazy-object-proxy==1.4.3
markdown==3.2
MarkupSafe==1.1.1
mccabe==0.6.1
pyfakefs==4.0.2
pylint==2.4.4
pylint-django==2.0.14
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
validators==0.15.0
whitenoise==5.0.1
wrapt==1.11.2
