aniso8601==10.0.1
annotated-types==0.7.0
arrow==1.4.0
asgiref==3.11.1
astroid==4.0.4
autopep8==2.3.2
babel==2.18.0
bleach==6.4.0
blessed==1.47.0
bpyutils==0.5.8
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
cryptography==49.0.0
decorator==5.3.1
dill==0.4.1
Django==6.0.7
django-crispy-forms==2.6
django-environ==0.14.0
django-extensions==4.1
django-markdownify==0.9.7
django-ninja==1.6.2
django-picklefield==3.4.0
django-q-rollbar @ git+https://github.com/danielwelch/django-q-rollbar@8f281bb34df517ab66f6e6f9d9ec266b2f5e55af
django-q2==1.10.0
django-sendgrid-v5==1.3.1
django-simple-history==3.12.0
django-widget-tweaks==1.5.1
environ==1.0
fontawesomefree==6.6.0
freezegun==1.5.5
future==1.0.0
gunicorn==26.0.0
icalendar==7.2.0
idna==3.18
iniconfig==2.3.0
isort==8.0.1
Jinja2==3.1.6
jinxed==2.1.0
lazy-object-proxy==1.12.0
Markdown==3.10.2
MarkupSafe==3.0.3
mccabe==0.7.0
packaging==26.2
platformdirs==4.10.0
pluggy==1.6.0
promise==2.3
protobuf==7.35.1
psycopg==3.3.4
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyfakefs==6.2.0
Pygments==2.20.0
pylint==4.0.6
pylint-django==2.8.0
pylint-plugin-utils==0.9.0
pytest==9.1.1
pytest-django==4.12.0
python-dateutil==2.9.0.post0
python-http-client==3.3.7
python-ipware==3.0.0
pytz==2026.2
requests==2.34.2
rollbar==1.4.0
Rx==3.2.0
sendgrid==6.12.5
singledispatch==4.1.2
six==1.17.0
soupsieve==2.8.4
sqlparse==0.5.5
starkbank-ecdsa==2.3.1
text-unidecode==1.3
tinycss2==1.5.1
toml==0.10.2
tomli==2.4.1
tomlkit==0.15.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
validators==0.35.0
wcwidth==0.8.2
webencodings==0.5.1
Werkzeug==3.1.8
whitenoise==6.12.0
wrapt==2.2.2
