{% extends 'base/logged_out.html' %}
{% load i18n %}

{% block title %}{% trans "Password Reset!" %}{% endblock title %}

{% block content %}
    <div id="landingpage_content">
        <div class="row">
            <div class="mx-auto col-md-8 col-12">
                <div class="page-header mb-4">
                    <h3>{% trans "Password Reset!" %}</h3>
                </div>

                <p>{% trans "We've sent an email with a confirmation link, so follow the directions to continue the process." %}</p>
                <p>{% trans "Didn't get an email?  Double check that you've given us the same email address you used to register, and check your spam folder." %}</p>
            </div>
        </div>
    </div>
{% endblock %}
