{% extends 'base/logged_out.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Reset Password" %}{% endblock title %}

{% block pageheader %}{% trans "Reset Password" %}{% endblock pageheader %}

{% block pagecontent %}
<p>{% trans "Forgot your password? Don't feel bad! Enter your email to receive a link to make a new, better, easier-to-remember one." %}</p>

<form class="form form-horizontal" role="form" action="" id="emailform" method="POST">
    {% csrf_token %}
    {{ form.email.errors }}
    <div class="form-group">
        {% render_field form.email class="form-control" %}
    </div>

    <div class="row">
        <div class="col-lg-8 col-12 form-group ml-auto text-right">
            <a class="btn btn-secondary" href="/">{% trans "Cancel" %}</a>
        </div>
        <div>
            <button type="submit" 
            {% if enable_captcha %}
                class="btn btn-primary g-recaptcha" 
            {% else %}
                class="btn btn-primary"
            {% endif %}
            data-sitekey="{{ site_key }}" data-callback='onSubmit' 
            data-action='submit'>{% trans 'Send password reset link' %}</button>
        </div>
    </div>
</form>
{% endblock pagecontent %}

{% block localscripts %}
<script src="/static/js/randomback.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
      document.getElementById("emailform").submit();
    }
</script>
 
{% endblock localscripts %}