{% extends 'base/logged_out.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Reset Password" %}{% endblock title %}

{% block pageheader %}{% trans "Reset Password" %}{% endblock pageheader %}

{% block pagecontent %}
{% if validlink %}
    <h2>{% trans "Forgot your password?" %}</h2>
    <p>{% trans "No problem - enter a new one here." %}</p>
    <form class="form form-horizontal" id="infoform" role="form" action= "" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.new_password1.errors }}
            {{ form.new_password1.label_tag}}
            {% render_field form.new_password1 class="form-control" %}
        </div>
        <div class="form-group">
            {{ form.new_password2.errors }}
            {{ form.new_password2.label_tag}}
            {% render_field form.new_password2 class="form-control" %}
        </div>
        <div class="form-group text-right">
            <input type="submit" class="btn btn-primary" value="{% trans 'Update Password' %}"/>
        </div>
    </form>
{% else %}
    <h2>{% trans "This password reset link is invalid." %}</h2>
    <p>{% trans "It may have already been used, or it may have expired." %}</p>
    {% url "password_reset" as password_reset_url %}
    <p>{% blocktrans %}
        But not to worry, <a href="{{ password_reset_url }}"> click here to request a new one.</a>
    {% endblocktrans %}</p>
{% endif %}
{% endblock pagecontent %}
