{% extends 'base/logged_out.html' %}
{% load i18n %}

{% block title %}{% trans "Password Reset!" %}{% endblock title %}

{% block content %}
    <div id="landingpage_content">
        <div class="row">
            <div class="mx-auto col-md-8 col-12">
                <div class="page-header mb-4">
                    <h3>{% trans "Password Reset!" %}</h3>
                </div>

                {% url 'login' as login_url %}
                <p>{% blocktrans %}You may now <a href="{{ login_url }}">log in</a> with your new password.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
