{% extends 'base/logged_out.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Reset Password" %}{% endblock title %}

{% block content %}
    <div id="landingpage_content">
        <div class="row">
            <div class="mx-auto col-md-8 col-12">
                <div class="page-header mb-4">
                    <h3>{% trans "Reset Password" %}</h3>
                </div>

                {% if validlink %}
                    <p>{% trans "Forgot your password? No problem - enter a new one here." %}</p>

                    <form class="form form-horizontal" id="infoform" role="form" action= "" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.new_password1.errors }}
                            {{ form.new_password1.label_tag}}
                            {% render_field form.new_password1 class="form-control" %}
                        </div>
                        <div class="form-group">
                            {{ form.new_password2.errors }}
                            {{ form.new_password2.label_tag}}
                            {% render_field form.new_password2 class="form-control" %}
                        </div>
                        <input type="submit" class="btn btn-primary" value="{% trans 'Update Password' %}"/>
                    </form>
                {% else %}
                    <p>{% trans "This reset link is invalid.  It may have already been used." %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
