{% extends 'base/go3base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Queue Info" %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="page-header mx-auto col-lg-8 col-md-10 col-sm-12">
        {% trans "Gig-O-Matic Queue Info" %}
    </div>
</div>
    <div>&nbsp;</div>
    {% if stats %}
        {% for stat in stats %}
        <div class="row">
            <div class="mx-auto col-lg-8 col-md-10 col-sm-12">
                ID: {{ stat.cluster_id }}<br>
                Uptime: {{ stat.uptime }}<br>
                {{ stat.status }}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="mx-auto col-lg-8 col-md-10 col-sm-12">
                No queue!!
            </div>
        </div>
    {% endif %}
</div>

{% endblock content %}
