{% extends 'base/logged_out.html' %}
{% load i18n %}

{% block title %}{% trans "Profile" %}{% endblock title %}

{% block pagecontent %}
<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-12">
        {% include 'base/messages.html' %}

        <div class="page-header">
            {% trans "Profile" %}
        </div>

        <div class="card">
            <div class="card-header">
                <div class="row titlerow">
                    <div class="col-4">
                        {% trans "Info" %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3 col-12">{% trans "Name" %}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pagecontent %}

