{% extends 'base/go3base_print.html' %}
{% load i18n %}
{% load gig_extras %}


{% block content %}

<div class="row">
    <h3 style="margin-top:0px">{% trans 'Setlist For Gig:' %} {{gig.title}}</h3>
</div>
<div class="row">
    {{ gig.date }} {{ gig.call_time }}
</div>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body" style="font-size:30px;">
        {% if gig.setlist_markdown %}
            {% autoescape off %}{{ gig.setlist|to_markdown}}{% endautoescape %}
        {% else %}
            {{ gig.setlist|linebreaks}}
        {% endif %}
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}

{% block localscripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    window.print()
    setTimeout(function(){window.close();}, 1);    
});
</script>{% endblock localscripts %}
