{% extends 'base/go3base.html' %}
{% load i18n %}
{% load static %}
{% load gig_extras %}
{% load humanize %}

{% block title %}{% trans "Gig Info" %}{% endblock title %}


{% block content %}
{% with band=gig.band %}
<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-12">

        <div class="page-header">
            {% trans "Gig Info (Archived)" %}
        </div>

        <div class="card">
            <div class="card-header">
                <div class="row titlerow">
                    <div class="col-4">
                        {% trans "Info" %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-4">{% trans "Gig" %}</div>
                    <div class="col-md-10 col-sm-10 col-8"><strong>{{ gig.title }}</strong></div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-4">
                    </div>
                    <div class="col-md-10 col-sm-10 col-8">
                        {% if gig.status == 1 %}
                            <i class="fas fa-check-circle" style="color:green"></i> {% trans "Confirmed!" %}
                        {% elif gig.status == 2 %}
                            <i class="fas fa-times-circle" style="color:red"></i> <strong>{% trans "Canceled!" %}</strong>
                        {% else %}
                            <i class="fas fa-question-circle" style="color:orange"></i> <strong>{% trans "Unconfirmed" %}</strong>
                        {% endif %}
                        {% if gig.is_private %}
                            ({% trans "Hidden From Public Page and Feed" %})
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-4">{% trans "Band" %}</div>
                    <div class="col-md-10 col-sm-10 col-8"><a href="{% url 'band-detail' gig.band.id %}">{{ gig.band.name }}</a></div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-4">{% trans "Contact" %}</div>
                    <div class="col-md-10 col-sm-10 col-8">
                        {% if gig.contact %}
                            <a href="{% url 'member-detail' gig.contact.id %}">{{ gig.contact.display_name }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-2"><i class="fas fa-calendar"></i></div>
                    <div class="col-10">{{ gig.date|naturalday:"SHORT_DATE_FORMAT"|capfirst }}
                        {% if multi_day_gig %}
                            - {{ gig.enddate|naturalday:"SHORT_DATE_FORMAT"|capfirst }}
                        {% endif %}
                    </div>
                </div>
                {% if call_time or set_time or end_time %}
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-12"><i class="fas fa-clock"></i></div>
                        {% if call_time %}
                        <div class="col-lg-3 col-md-3 col-sm-3 col-4">{% trans "Call Time" %}:
                            {{ call_time|time:"TIME_FORMAT" }}
                        </div>
                        {% endif %}
                        {% if set_time %}
                            <div class="col-lg-3 col-md-3 col-sm-3 col-4">{% trans "Set Time" %}: {{ set_time|time:"TIME_FORMAT" }}</div>
                        {% endif %}
                        {% if end_time %}
                            <div class="col-lg-3 col-md-3 col-sm-3 col-4">{% trans "End Time" %}: {{ end_time|time:"TIME_FORMAT" }}</div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if gig.datenotes %}
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-12"><i class="fa-solid fa-triangle-exclamation"></i></div>
                        <div class="col-md-10 col-sm-10 col-8">
                            {{ gig.datenotes }}
                        </div>
                    </div>
                {% endif %}
                <div class="row">&nbsp;</div>
                {% if gig.address %}
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-4">{% trans "Address" %}</div>
                        <div class="col-md-10 col-sm-10 col-8"><a href="{{ address_string }}" target="new">{{ gig.address }}</a></div>
                    </div>
                    <div class="row">&nbsp;</div>
                {% endif %}
                {% if gig.dress %}
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-4">{% trans "What to Wear" %}</div>
                        <div class="col-md-10 col-sm-10 col-8">{{ gig.dress }}</div>
                    </div>
                    <div class="row">&nbsp;</div>
                {% endif %}
                {% if gig.paid %}
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-4">{% trans "Pay Deal" %}</div>
                        <div class="col-md-10 col-sm-10 col-8">{{ gig.paid }}</div>
                    </div>
                    <div class="row">&nbsp;</div>
                {% endif %}
                {% if gig.leader_text %}
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-4">{% trans "Leader" %}</div>
                        <div class="col-md-10 col-sm-10 col-8">{{ gig.leader_text }}</div>
                    </div>
                    <div class="row">&nbsp;</div>
                {% endif %}
                {% if gig.postgig %}
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-4">{% trans "Post-gig Plans" %}</div>
                        <div class="col-md-10 col-sm-10 col-8 trunc">{{ gig.postgig }}</div>
                    </div>
                    <div class="row">&nbsp;</div>
                {% endif %}
                {% if gig.details %}
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-4">{% trans "More Details" %}</div>
                        <div class="col-md-10 col-sm-10 col-8 trunc">{{ gig.details|urlize | linebreaks }}</div>
                    </div>
                    <div class="row">&nbsp;</div>
                {% endif %}
                {% if not gig.invite_occasionals %}
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12">{% trans "Occasional members were not invited." %}</div>
                    </div>
                    <div class="row">&nbsp;</div>
                {% endif %}
                {% if gig.hide_from_calendar %}
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12">{% trans "Gig is hidden from calendar." %}</div>
                    </div>
                    <div class="row">&nbsp;</div>
                {% endif %}
            </div>  <!-- card body -->
        </div> <!-- card -->

        {% if gig.setlist %}
            <div class="card mt-4">
                <div class="card-header">
                    <div class="row titlerow">
                        <div class="col-4">
                            {% trans "Setlist" %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            {{ gig.setlist | urlize | linebreaks }}
                        </div>
                    </div>
                </div>
            </div> <!-- card -->
        {% endif %}

        <div class="card mt-4">
            <div class="card-header">
                <div class="row titlerow">
                    <div class="col-4">
                        {% trans "Member Plans" %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% regroup gig_ordered_member_plans by section as plans_by_section %}
                {% for section in band.sections.all %}
                    <div class="row" style="padding-top: 5px; padding-bottom: 5px; {% cycle '' 'background:#f5f5f5;' %}">
                        {% if band.sections.all|length > 1 %}
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12 gomlabel">
                                {% if section.display_name is None %}
                                    {% trans "No Section" %}
                                {% else %}
                                    {{ section.display_name }}
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                            {% for plan in plans_by_section|lookup_plans:section %}
                                {% include "gig/gig_plan_edit.html" with plan=plan %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div> <!-- card body -->
        </div> <!-- card -->

        <div class="card mt-4">
            <div class="card-header">
                <div class="row titlerow"><div class="col-12">
                    {% trans "Comments" %}
                </div></div>
            </div>
            <div class="card-body" id="gig_commentcard" hx-get="{% url 'gig-comments' gig.id %}" hx-trigger="load">
            </div> <!-- card body -->
        </div> <!-- card -->
    </div>
</div> <!-- row -->
{% endwith %}
{% endblock content %}

