{% extends 'base/go3base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Gig Edit" %}{% endblock title %}

{% block headcontent %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
{% endblock headcontent %}

{% block content %}
<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-sm-12">
        <div class="page-header">
            {% if is_new %}
                {% trans "New Gig for " %} {{ band.name }}
            {% else %}
                {% trans "Gig Edit" %}
            {% endif %}
        </div>

        <form method="post" class="form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.errors }}

            <div class="row">
                <div class="col-12">
                    {{ form.title.label_tag }}
                    {{ form.title.errors }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <div class="form-group">
                        {% render_field form.title class="form-control" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    {{ form.contact.errors }}
                    {{ form.contact.label_tag }}
                    {% render_field form.contact class="form-control" %}
                </div>
                <div class="form-group col-6">
                    {{ form.status.errors }}
                    {{ form.status.label_tag }}
                    {% render_field form.status class="form-control" %}
                </div>
            </div>
             
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                    {{ form.call_date.label_tag }}
                    {{ form.call_date.errors }}
                </div>
                <div class="col-4 end_date{% if not is_full_day %} style="display:none;{% endif %}">
                    {{ form.end_date.label_tag }}
                    {{ form.end_date.errors }}                    
                </div>
            </div>
            <div class="row">
                <div class="form-group col-4">
                    {{ form.is_full_day }}
                    {{ form.is_full_day.label_tag }}
                </div>
                <div class="form-group col-4">
                    <div class="form-group">
                        <div class="input-group call_date" id="id_call_date_widget" data-target-input="nearest">
                            <input type="text" name="call_date" class="form-control datetimepicker-input" id="id_call_date" data-target="#id_call_date_widget" required/>
                            <div class="input-group-append" data-target="#id_call_date_widget" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-4 end_date{% if not is_full_day %} style="display:none;{% endif %}">
                    <div class="form-group">
                        <div class="input-group end_date" id="id_end_date_widget" data-target-input="nearest">
                            <input type="text" name="end_date" class="form-control datetimepicker-input" id="id_end_date" data-target="#id_end_date_widget"/>
                            <div class="input-group-append" data-target="#id_end_date_widget" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gigtimes{% if is_full_day %} style="display:none;{% endif %}">
                <div class="col-4">
                    {{ form.call_time.label_tag }}
                    {{ form.call_time.errors }}
                </div>
                <div class="col-4">
                    {{ form.set_time.label_tag }}
                    {{ form.set_time.errors }}
                </div>
                <div class="col-4">
                    {{ form.end_time.label_tag }}
                    {{ form.end_time.errors }}
                </div>
            </div>
            <div class="row gigtimes{% if is_full_day %} style="display:none;{% endif %}">
                <div class="form-group col-4">
                    <div class="form-group">
                        <div class="input-group date" id="id_call_time_widget" data-target-input="nearest">
                            <input type="text" name="call_time" class="form-control datetimepicker-input" id="id_call_time" data-target="#id_call_time_widget"/>
                            <div class="input-group-append" data-target="#id_call_time_widget" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <div class="form-group">
                        <div class="input-group date" id="id_set_time_widget" data-target-input="nearest">
                            <input type="text" name="set_time" class="form-control datetimepicker-input" id="id_set_time" data-target="#id_set_time_widget"/>
                            <div class="input-group-append" data-target="#id_set_time_widget" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-4">
                    <div class="form-group">
                        <div class="input-group date" id="id_end_time_widget" data-target-input="nearest">
                            <input type="text" name="end_time" class="form-control datetimepicker-input" id="id_end_time" data-target="#id_end_time_widget"/>
                            <div class="input-group-append" data-target="#id_end_time_widget" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-clock"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form.datenotes.label_tag }}
                    {{ form.datenotes.errors}}
                </div>
                <div class="form-group col-12">
                    {% render_field form.datenotes class="form-control" %}
                </div>
            </div>


            {% if is_new %}
                <div class="row">
                    <div class="form-group col-4">
                        {{ form.add_series.errors }}
                        {{ form.add_series }}
                        {{ form.add_series.label_tag }}
                    </div>
                    <div class="form-group col-4 add_series_options" style="display:none">
                        {{ form.total_gigs.errors }}
                        {{ form.total_gigs.label_tag }}
                        {% render_field form.total_gigs class="form-control" %}
                    </div>
                    <div class="form-group col-4 add_series_options" style="display:none">
                        {{ form.repeat.errors }}
                        {{ form.repeat.label_tag }}
                        {% render_field form.repeat class="form-control" %}
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="form-group col-lg-4 col-md-4 col-12">
                    {{ form.address.errors }}
                    {{ form.address.label_tag }}
                    {% render_field form.address class="form-control" %}
                </div>
                <div class="form-group col-4">
                    {{ form.dress.errors }}
                    {{ form.dress.label_tag }}
                    {% render_field form.dress class="form-control" %}
                </div>
                <div class="form-group col-4">
                    {{ form.paid.errors }}
                    {{ form.paid.label_tag }}
                    {% render_field form.paid class="form-control" %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-4 col-md-4 col-12">
                    {{ form.leader_text.errors }}
                    {{ form.leader_text.label_tag }}
                    {% render_field form.leader_text class="form-control" %}
                </div>
                <div class="form-group col-lg-8 col-md-8 col-12">
                    {{ form.postgig.errors }}
                    {{ form.postgig.label_tag }}
                    {% render_field form.postgig class="form-control" %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                {{ form.details.errors }}
                {{ form.details.label_tag }}
                {% render_field form.details class="form-control" %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    {{ form.setlist.errors }}
                    {{ form.setlist.label_tag }}
                    {% render_field form.setlist class="form-control" %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    {{ form.public_description.errors }}
                    {{ form.public_description.label_tag }}
                    {% render_field form.public_description class="form-control" %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form.invite_occasionals.errors }}
                    {{ form.invite_occasionals }}
                    {{ form.invite_occasionals.label_tag }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form.hide_from_calendar.errors }}
                    {{ form.hide_from_calendar }}
                    {{ form.hide_from_calendar.label_tag }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form.is_private.errors }}
                    {% render_field form.is_private %}
                    {{ form.is_private.label_tag }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form.notification.label_tag }}
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">
                            {{ form.notification }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-12 ml-auto text-left">
                    {% if gig and not is_dupe%}
                        <button type="button" class="btn btn-secondary" onclick="do_trash()">{% trans "Move to Trash" %}</button>
                        <button type="button" class="btn btn-secondary" onclick="do_archive()">{% trans "Archive" %}</button>
                    {% endif %}   
                </div>
                <div class="form-group col-12 col-md-6 ml-auto text-right">
                        {% if gig %}
                            <a class="btn btn-secondary" href="/gig/{{ gig.id }}">{% trans "Cancel" %}</a>
                        {% else %}
                            <a class="btn btn-secondary" href="/">{% trans "Cancel" %}</a>
                        {% endif %}
                        <button type="submit" id="savebutton" class="btn btn-primary">{% trans "Save" %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}        


{% block localscripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.28/moment-timezone-with-data-10-year-range.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>

{% comment %}
<script src="/js/jquery.validate.js"></script>
<script>

{% if the_user.preferences.locale == 'en_GB' %}
    {% set locale_fix = 'en-GB' %}
{% else %}
    {% set locale_fix = the_user.preferences.locale %}
{% endif %}
{% endcomment %}

<script type="text/javascript">

function setfullday() {
    if ($("#id_is_full_day").is(":checked")) {
        $('.gigtimes').hide();
        $('.end_date').show();
    } else {
        $('.gigtimes').show();
        $('.end_date').hide();
    }
}


{% if is_new %}
$('#id_add_series').click(function() {
    $(".add_series_options").toggle();
});
{% endif %}

$(document).ready(function () {

    $("#id_is_full_day").click(setfullday);
    setfullday();

    $('#id_call_date_widget').datetimepicker({
        format: 'L',
        timeZone: '{{ timezone }}',
        icons: {
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down",
                },
        locale: '{{ user.preferences.language }}',
        defaultDate: '{{ call_date.isoformat }}',
    });
    $('#id_end_date_widget').datetimepicker({
        format: 'L',
        timeZone: '{{ timezone }}',
        icons: {
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down",
                },
        locale: '{{ user.preferences.language }}',
        defaultDate: '{{ end_date.isoformat }}',
    });
    $('#id_call_time_widget').datetimepicker({
        format: 'LT',
        timeZone: '{{ timezone }}',
        icons: {
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down",
                },
        locale: '{{ user.preferences.language }}',
        defaultDate: '{{ call_date.isoformat }}',
    });
    $('#id_set_time_widget').datetimepicker({
        format: 'LT',
        timeZone: '{{ timezone }}',
        icons: {
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down",
                },
        locale: '{{ user.preferences.language }}',
        defaultDate: '{{ set_time.isoformat }}',
    });
    $('#id_end_time_widget').datetimepicker({
        format: 'LT',
        timeZone: '{{ timezone }}',
        icons: {
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down",
                },
        locale: '{{ user.preferences.language }}',
        defaultDate: '{{ end_date.isoformat }}',
    });

{% comment %}    
    $.validator.addMethod(
        "gigoDate",
        function(value, element) {
            if (value=="") {
                return true;
            } else {
                // put your own logic here, this is just a (crappy) example
                var q = new RegExp("^\\d\\d?\\"+
                                   "{% trans "date_separator" %}"+
                                   "\\d\\d?\\"+
                                   "{% trans "date_separator" %}"+
                                   "\\d\\d\\d\\d$");
                return value.match(q);
            }
        },
        "{% trans "Please enter a date in the format mm/dd/yyyy." %}"
    );
    $("#infoform").validate({
        rules: {
            gig_title: {
                required: true
            },
            gig_date: {
                required: true,
                gigoDate: true,
                inFuture: true
            },
            gig_enddate: {
                gigoDate: true,
                greaterThan: "#gigdateinput"
            }
        },
        messages: {
            gig_title: {
                required: "{% trans "This field is required!" %}"                
            },            
            gig_date: {
                required: "{% trans "This field is required!" %}"                
            },            
            gig_enddate: {
                required: "{% trans "This field is required!" %}"                
            }            
        },
        submitHandler: function(form) {
            // make the save button a spinner
            var mybutton = "#savebutton";
            $(mybutton).prop("disabled",true);
            $(mybutton).html("<i class='fas fa-spinner fa-pulse fa-lg'></i>");
            form.submit();
          }

    });
    $('#gigcallinput').timepicker({'timeFormat':'{% trans "time_format" %}'});
    $('#gigsetinput').timepicker({'timeFormat':'{% trans "time_format" %}'});
    $('#gigendinput').timepicker({'timeFormat':'{% trans "time_format" %}'});

        updateContactList('{{band.id}}');
    {% endcomment %}      
});
{% comment %}

jQuery.validator.addMethod("greaterThan", 
function(value, element, params) {

    if (value=="") {
        return true;
    }

    moment.lang('{{ locale_fix }}');
    d1 = moment(value,moment.langData('{{ locale_fix }}').longDateFormat("L"));
    d2 = moment($(params).val(),moment.langData('{{ locale_fix }}').longDateFormat("L"));

    return d1 > d2;
},'{% trans "Must be later than start date!" %}');

jQuery.validator.addMethod("inFuture", 
function(value, element, params) {
    today = moment();
    today.hour(0);
    today.minute(0);
    today.second(0);
    today.millisecond(0);
    moment.lang('{{locale_fix}}');
    d1 = moment(value,moment.langData('{{ locale_fix }}').longDateFormat("L"));
    return d1 >= today;
},'{% trans "Must be in the future!" %}');

function setSeries() {
    if($('#newgig-isseries').prop('checked'))
        $('#gignumberseriesinput').show();
    else
        $('#gignumberseriesinput').hide();
};

{% endcomment %}

function do_trash() {
    bootbox.confirm("{% trans 'Are you sure you want to trash this gig?' %}", function (result) {
        if(result) {
            {% if gig %}
                window.location.replace("{% url 'gig-trash' gig.id %}");
            {% endif %}
        }
    });
    return false;
}

function do_archive() {
    bootbox.confirm("{% trans 'Are you sure you want to archive this gig?' %}", function (result) {
        if(result) {
            {% if gig %}
                window.location.replace("{% url 'gig-archive' gig.id %}");
            {% endif %}
        }
    });
    return false;
}

</script>
{% endblock localscripts %}

