{% load i18n %}
{% if has_sections %}
    <div class="col-md-3 col-sm-12 gomlabel">
        {% if the_section %}
            {{the_section.display_name}}
        {% else %}
            {% trans "No Section" %}
        {% endif %}
    </div>
{% endif %}
    <div class="col-md-9 col-sm-12">
    {% for the_assoc in the_assocs %}
        {% with the_member=the_assoc.member %}
        <div class="row">
        	<div class="col-md-5 col-sm-12">
                {% if the_user_is_band_admin %}
                    <a href="{% url 'member-detail' pk=the_member.id %}"><span class="the_nickname">{{the_member.display_name}}</span><span class="the_longname" style="display:none;">{{ the_member.member_name }}</span></a>
                {% else %}
                    <a href="{% url 'member-detail' pk=the_member.id %}">{{the_member.display_name}}</a>
                {% endif %}
                {% if the_assoc.is_occasional %}
                    ({% trans "occasional" %})
                {% endif %}
{% comment %} TODO
                {% if the_assoc.is_new and false %}
                    <i class="fas fa-star" style="color:green"></i>
                {% endif %}
{% endcomment %}
            </div>
        	<div class="col-md-7 ml-md-0 col-10 ml-2">
                {% if the_member.preferences.share_email or the_user_is_band_admin %}
            		<a href="mailto:{{the_member.email}}">{{ the_member.email }}</a>
                {% endif %}
        	</div>
        </div>
        {% endwith %}
    {% endfor %}
</div>
