{% extends 'base/go3base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Band Info" %}{% endblock title %}

{% block headcontent %}

{% endblock headcontent %}

{% block content %}
<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-12">
        {% include 'base/messages.html' %}

        <div class="page-header">
            {{ band.name }}
            {% if the_user_is_associated and band.shortname %}
                <br>
                ({% trans "a.k.a." %}&nbsp;{{ band.shortname }})
            {% endif %}
        </div>

        <div class="card">
            <div class="card-header">
                <div class="row titlerow">
                    <div class="col-4">
                        {% trans "Info" %}
                    </div>
                    {% if the_user_is_band_admin or request.user.is_superuser %}
                        <div class="ml-auto">
                            <a class="btn btn-primary btn-sm" href="/band/{{ band.id }}/update">{% trans "Edit" %}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        {% if band.description %}
                            {{ band.description | linebreaksbr }}
                        {% else %}
                            {% trans "A Band of Mystery..." %}
                        {% endif %}
                    </div>
                </div>
                {% if band.hometown %}
                    <div class="row mt-4">
                        <div class="col-sm-3 col-12">{% trans "Hometown" %}</div>
                        <div class="col-sm-9 col-12">
                            <a href="http://maps.google.com?q={{band.hometown}}" target="new">{{ band.hometown }}</a>
                        </div>
                    </div>
                {% endif %}
                {% if band.website %}
                    <div class="row mt-4">
                        <div class="col-sm-3 col-12">{% trans "Website" %}</div>
                        <div class="col-sm-9 col-12">
                            <a href="http://{{band.website|escape}}" target="new">{{ band.website|escape }}</a>
                        </div>
                    </div>
                {% endif %}
                {% if the_user_is_associated or request.user.is_superuser %}
                    <div class="row mt-4">
                        <div class="col-sm-3 col-12">{% trans "Resources" %}</div>
                        <div class="col-sm-9 col-12">
                                {% if the_member_links %}
                                    {% for l in the_member_links %}
                                        <a href="{{l.1}}" target="_new">{{ l.0 }}</a><br>
                                    {% endfor %}
                                {% endif %}
                                <a href="/band_gig_archive?bk={{ band.id }}">{% trans "Gig Archive" %}</a><br>
                                {% if request.user.is_superuser or the_user_is_band_admin %}
                                    <a href="/band_gig_trashcan?bk={{ band.id }}">{% trans "Gig Trashcan" %}</a><br>
                                {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-12">{% trans "Public Profile" %}</div>
                        <div class="col-sm-9 col-12">
                                <a href="http://www.gig-o-matic.com/band/{{band.condensed_name}}" target="new">http://www.gig-o-matic.com/band/{{ band.condensed_name }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-12">{% trans "Public Gig Calendar Feed" %}</div>
                        <div class="col-sm-9 col-12">
                                <a href="http://www.gig-o-matic.com/cal/p/{{band.id}}" onclick="return false;">{% trans "Subscribe using this link's URL" %}</a>
                        </div>
                    </div>
                    {% if band.rss_feed %}
                        <div class="row">
                            <div class="col-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-12">{% trans "Public Gig RSS" %}</div>
                            <div class="col-sm-9 col-12">
                                    <a href="http://www.gig-o-matic.com/rss/{{band.id}}" onclick="return false;">{% trans "Subscribe using this link's URL" %}</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <div class="row">
                            <div class="col-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-12">{% trans "Calendar URL for Members" %}</div>
                            <div class="col-sm-9 col-12">
                                    <a href="http://www.gig-o-matic.com/cal/b/{{band.id}}" onclick="return false;">{% trans "Copy this link's URL and use it to subscribe in google or iCal or whatever" %}</a>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div> <!-- card-body -->
        </div> <!-- card -->

        {% if band.images %}
            <div class="card mt-4">
                <div class="card-header">
                    <div class="row titlerow">
                        <div class="col-12">
                            {% trans "Pictures Of Us" %}
                        </div>
                    </div>
                </div>
                <div class="card-body" id="pictures">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                        {% for i in band.images %}
                            <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
                              <img class="d-block img-fluid" src="{{i}}">
                            </div>
                        {% endfor %}
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <i class="fas fa-chevron-left fa-2x" style="color:gray;" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <i class="fas fa-chevron-right fa-2x" style="color:gray;" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>

                </div>
            </div>
        {% endif %}

        {% if the_user_is_associated is False and request.user.is_superuser is False %}
            {% if band.share_gigs %}
                <div class="card mt-4">
                    <div class="card-header">
                        <div class="row titlerow">
                            <div class="col-12">
                                {% trans "Upcoming Gigs" %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="upcoming-gigs">
                        <i class="fas fa-spinner fa-pulse fa-lg"></i>
                    </div>
                </div>
            {% endif %}
            {% if the_user %}
                <div class="card mt-4">
                    <div class="card-header">
                        <div class="row titlerow"><div class="col-12">
                            {% trans "Members With Public Profiles" %}
                        </div></div>
                    </div>
                    <div class="card-body" id="public-members">
                        <i class="fas fa-spinner fa-pulse fa-lg"></i>
                    </div>
                </div>
            {% endif %}
        {% elif the_user in the_pending_members and request.user.is_superuser == False %}
            {% trans "Your membership is pending - ask a band member to confirm you!" %}
        {% else %}
            {% if the_pending_members %}
                <div class="card mt-4">
                    <div class="card-header">
                        <div class="row titlerow"><div class="col-12">
                            {% trans "Pending Members" %} <span class="badge badge-pill badge-secondary">{{the_pending_members.all|length}}</span>
                        </div></div>
                    </div>
                    <div class="card-body">
                        {% for assoc in the_pending_members %}
                        <div class="row" style="padding-top: 5px; padding-bottom: 5px; {% cycle '' 'background:#f5f5f5;' %}">
                            <div class="col-md-2 col-sm-2 col-12">
                                <a href="/member/{{assoc.member.id}}">{{ assoc.member.username|escape }}</a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-12">
                                {{ m.email_address|escape }}
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <a class="btn btn-primary btn-sm" href="#" onclick="do_confirm({{assoc.id}});">{% trans "yes, confirm member!" %}</a>
                                <a class="btn btn-secondary btn-sm" href="#" onclick="do_delete({{assoc.id}});">{% trans "no, reject!" %}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div> <!-- panel -->
            {% endif %}

            {% if the_invited_members %}
                <div class="card mt-4">
                    <div class="card-header">
                        <div class="row titlerow"><div class="col-12">
                            {% trans "Invited Members" %} <span class="badge badge-pill badge-secondary">{{the_invited_members.all|length}}</span>
                        </div></div>
                    </div>
                    <div class="card-body">
                        {% for m in the_invited_members %}
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-4">
                                {{ m.email }}
                            </div>
                            <div class="col-md-3 col-sm-3 col-3">
                                <a href="{% url 'member-invite-delete' pk=m.id %}">{% trans "forget the invite" %}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div> <!-- panel -->
            {% endif %}
            <div class="card mt-4">
                <div class="card-header">
                    <div class="row titlerow">
                        {% if band.sections.all|length == 1 %}
                            <div class="col-4">
                                {% trans "Members" %}
                                {% if the_user_is_band_admin or request.user.is_superuser %}
                                    <button class="btn btn-primary btn-sm" onclick="toggle_names(); return false;"><i class="fas fa-sync fs-lg"></i></button>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="col-3">
                                {% trans "Sections" %}
                            </div>
                            <div class="col-5">
                                {% trans "Members" %}
                                    {% if the_user_is_band_admin or request.user.is_superuser %}
                                        <a class="btn btn-primary btn-sm" href="#" onclick="toggle_names(); return false;"><i class="fas fa-sync fs-lg"></i></a>
                                    {% endif %}
                            </div>
                        {% endif %}
                        {% if the_user_is_band_admin or request.user.is_superuser %}
                            <div class="ml-auto">
                                <a class="btn btn-primary btn-sm" href="{% url 'member-invite' bk=band.id %}">{% trans "Invite Members" %}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12" id="sectionlist">
                        	{% for s in band.sections.all %}
                        	    <div class="row" id="section{{forloop.counter0}}" data-section="{{s.id}}" style="padding-top: 5px; padding-bottom: 5px; {% cycle '' 'background:#f5f5f5;' %}">
                            		<div class="col-12">
                            			<i class="fas fa-spinner fa-pulse fa-lg"></i>
                            		</div>
                           	    </div>
                        	{% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        {% if request.user.is_superuser or the_user_is_band_admin %}
                            <div class="col-md-4">
                                <br>
                                <a href='/band_setup_sections?bk={{band.id}}' class="btn btn-primary btn-sm" >{% trans "Set Up Sections" %}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div> <!-- panel -->

            {% if the_user_is_band_admin or request.user.is_superuser %}
                <div class="mt-4 card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <a class="card-title titlerow">
                            {% trans "Member Admin" %}
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse card-body" role="tabpanel" aria-labelledby="headingOne">
                        <div class="row">
                            <div class="col-12">
                                <a class="btn btn-primary btn-sm" href="{% url 'member-invite' bk=band.id %}">{% trans "Invite Members" %}</a>
                                <a class="btn btn-primary btn-sm" href="{% url 'member-spreadsheet' pk=band.id %}">{% trans "Download Member List" %}</a>
                                <a class="btn btn-primary btn-sm" href="{% url 'member-emails' pk=band.id %}">{% trans "Get Member Emails" %}</a>

                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-12" id="memberlist">
                                <i class="fas fa-spinner fa-pulse fa-lg"></i>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block modal %}
{% endblock modal %}

{% block localscripts %}
{% comment %}
<script src="/js/jquery.validate.js"></script>
{% endcomment %}
<script src="{% static "js/plan_buttons.js" %}"></script>

<script>

// TODO
function updateUpcoming() {
    if (document.getElementById('upcoming-gigs')) {
        $.post('/band_get_upcoming',
            {
                bk: '{{ band.id }}'
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    document.getElementById('upcoming-gigs').innerHTML=responseTxt;
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
    }
}

// TODO
function updatePublic() {
    if (document.getElementById('public-members')) {
        $.post('/band_get_public_members',
            {
                bk: '{{ band.id }}'
            },
            function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    document.getElementById('public-members').innerHTML=responseTxt;
                if(statusTxt=="error")
                    alert("Error: "+xhr.status+": "+xhr.statusText);
            });
    }
}

function updateMembers() {
    if (document.getElementById('memberlist')) {
        $.ajax({
            method: 'GET',
            url: '/band/{{band.id}}/members',
            headers: { "X-CSRFToken": "{{csrf_token}}" },
            success: function(responseTxt,statusTxt,xhr){
                        if(statusTxt=="success")
                            document.getElementById('memberlist').innerHTML=responseTxt;
                        if(statusTxt=="error")
                            alert("Error: "+xhr.status+": "+xhr.statusText);
            },
        });
    }
}


function updateSections() {
	updateSection(0);
}

var num_sections = Number({{ band.sections.all|length }});
function updateSection(i) {
    updateOneSection(i)
}

function updateOneSection(i) {
    sectionid = $('#section'+i).attr('data-section');
    $.ajax({
        method: 'GET',
        url: '/band/{{ band.id }}/section/'+sectionid,
        headers: { "X-CSRFToken": "{{csrf_token}}" },
        success: function(responseTxt,statusTxt,xhr){
                    if(statusTxt=="success") {
                        document.getElementById('section'+i).innerHTML=responseTxt;
                        if (document.getElementById('section'+(i+1))) {
                            updateSection(i+1);
                        }
                    }
                    if(statusTxt=="error") {
                        alert("Error: "+xhr.status+": "+xhr.statusText);
                    }
                },
    });
}

function option_tf_select(option, objecttype, objectid, elementid) {
    elem=document.getElementById(elementid)
    $.ajax({
        method: 'POST',
        url: '/'+objecttype+'/'+objectid+'/tfparam/'+option+'/'+elem.checked,
        headers: { "X-CSRFToken": "{{csrf_token}}" },
        success: function(responseTxt,statusTxt,xhr){
                    if(statusTxt=="error")
                        alert("Error: "+xhr.status+": "+xhr.statusText);
                },
    });
}

function do_delete(ak){
    $.ajax({
        method: 'POST',
        url: '/band/assoc/'+ak+'/delete',
        headers: { "X-CSRFToken": "{{csrf_token}}" },
        success: function(responseTxt,statusTxt,xhr){
                    if(statusTxt=="success")
                        // setTimeout(function(){updateBands()}, 1000);
                        location.reload();
                    if(statusTxt=="error")
                        alert("Error: "+xhr.status+": "+xhr.statusText);
                },
    });
}

function do_confirm(ak){
    $.ajax({
        method: 'POST',
        url: '/band/assoc/'+ak+'/confirm',
        headers: { "X-CSRFToken": "{{csrf_token}}" },
        success: function(responseTxt,statusTxt,xhr){
                    if(statusTxt=="success")
                        // setTimeout(function(){updateBands()}, 1000);
                        location.reload();
                    if(statusTxt=="error")
                        alert("Error: "+xhr.status+": "+xhr.statusText);
                },
    });
}

var nicknames=true;
function toggle_names() {
    nicknames = !nicknames;
    if (nicknames) {
        $('.the_nickname').show();
        $('.the_longname').hide();
    } else {
        $('.the_nickname').hide();
        $('.the_longname').show();
    };
}

$(document).ready(function() {
    updateMembers();
    updateSections();
    updateUpcoming();
    updatePublic();
});
</script>
{% endblock localscripts %}
