{% extends 'base/go3base.html' %}
{% load i18n %}
{% load humanize %}

{% block title %}{% trans "Band Archive" %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-12">

        <div class="page-header">
            {% trans "Gig Archive for" %} <a href="{% url 'band-detail' pk=band.id %}"> {{ band.name}}</a>
        </div>
        <div class="row">
            <div class="col-12">
                <br>
                <a class="btn btn-primary btn-sm" href="{% url 'archive-spreadsheet' pk=band.id %}"><i class="fas fa-download"></i> Download Archive</a>
                <br><br>
            </div>
        </div>
        {% with archivegigs=band.past_gigs %}
            {% if archivegigs %}
                {% for gig in archivegigs %}
                    <div class="row">
                        <div class="col-md-2 col-md-offset-2">
                            {{ gig.date|naturalday:"SHORT_DATE_FORMAT"|capfirst }}
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'gig-detail' pk=gig.id %}">{{ gig.title }}</a><br>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% trans "There are no gigs in the archive!" %}
            {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock content %}
