{% load i18n %}
{% for the_assoc in member_assocs %}
    <div class="row" style="padding-top: 5px; {% cycle '' 'background:#f5f5f5;' %}">
        <div class="col-12">
            <a href="{% url 'member-detail' pk=the_assoc.member.id %}">{{ the_assoc.member.display_name }}</a>
        </div>
    </div>
    <div class="row" style="padding-bottom: 5px; {% cycle '' 'background:#f5f5f5;' %}">
        <div class="col-md-3 col-6">
            <div class="form-group">
                <label class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           id='oak-{{ the_assoc.id}}'
                           name="is_occasional"
                           hx-ext="checkbox"
                           hx-post="{% url 'assoc-tfparam' ak=the_assoc.id %}"
                    {% if the_assoc.is_occasional %}
                           checked
                    {% endif %}
                    >
                    <label class="form-check-label" for="oak-{{ the_assoc.id}}">{% trans "occasional" %}</label>
                </label>
            </div>
        </div>
        {% if the_assoc.band.sections.all|length > 1 %}
            <div class="col-md-2">
                <div class="dropdown">
                    <a class="btn btn-outline-secondary btn-sm dropdown-toggle" href="#" role="button" data-toggle="dropdown" id="dropdownMenu{{forloop.counter}}" aria-haspopup="true" aria-expanded="false">
                        {{ the_assoc.default_section.display_name | truncatechars:8 }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu{{forloop.counter}}">
                        {% for a_section in the_assoc.band.sections.all %}
                            <a class="dropdown-item"
                               hx-ext="update-dropdown"
                               hx-target="#dropdownMenu{{forloop.parentloop.counter}}"
                               hx-put="{% url 'assoc-section' ak=the_assoc.id sk=a_section.id %}">
                                {{ a_section.display_name }}
                            </a>
                         {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           id='msbk-{{ the_assoc.id }}'
                           name="is_multisectional"
                           hx-ext="checkbox"
                           hx-post="{% url 'assoc-tfparam' ak=the_assoc.id %}"
                    {% if the_assoc.is_multisectional %}
                           checked
                    {% endif %}
                    >
                    <label class="form-check-label" for='msbk-{{ the_assoc.id}}'>+{% trans "others" %}</label>
                </div>
            </div>
        {% endif %}

        {% if the_assoc.member != request.user or request.user.is_superuser %}
            <div class="col-md-2">
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           id='aak-{{ the_assoc.id }}'
                           name="is_admin"
                           hx-ext="checkbox"
                           hx-post="{% url 'assoc-tfparam' ak=the_assoc.id %}"
                    {% if the_assoc.is_admin %}
                           checked
                    {% endif %}
                    >
                    <label class="form-check-label" for='aak-{{ the_assoc.id }}'>{% trans "admin" %}</label>
                </div>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-sm"
                   href="#"
                   hx-ext="reload-page"
                   hx-post="{% url 'assoc-delete' ak=the_assoc.id %}">
                    {% trans "remove from band" %}
                </a>
            </div>
        {% else %}
            <div class="col-md-2">
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           id='aak-{{ the_assoc.id }}'
                           name="is_admin"
                           disabled
                    {% if the_assoc.is_admin %}
                           checked
                    {% endif %}
                    >
                    <label class="form-check-label" for='aak-{{ the_assoc.id }}'>{% trans "admin" %}</label>
                </div>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-secondary btn-sm" disabled>
                    {% trans "remove from band" %}
                </button>
            </div>
        {% endif %}
    </div>
{% endfor %}
