{% extends 'base/go3base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Schedule" %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="mx-auto col-md-10 col-12">
        <div class="page-header">
            {% trans "Schedule" %}: {% if user.nickname %}{{user.nickname}}{%else%}{{user.name}}{% endif %}
            {% if user.preferences.default_view != 0 %}
                <span id='default-sel'>
                    <small>(<a hx-get="{% url 'set-default-view' val=0 %}" hx-target='#default-sel' href="#">{% trans "Make this my default view!" %}</a>)</small>
                </span>
            {% endif %}
        </div>
    </div>
</div>
{% include 'agenda/hidden_bands_info.html' %}
<div class="row">
    <div class="mx-auto col-md-10 col-12">
        <div class="card mb-4">
            <div class="card-header">
                <div class="row titlerow">
                    <div class="col-12">
                        {% trans "Future Gigs: Weigh In!" %}
                    </div>
                </div>
            </div>
            <div class="card-body" id="weighin-gigs" hx-get="{% url 'agenda-gigs' the_type='noplans' page=1 %}" hx-trigger="load">
                <i class="fas fa-spinner fa-pulse fa-lg"></i>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="row titlerow">
                    <div class="col-8">
                        {% trans "Upcoming Gigs" %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div hx-get="{% url 'agenda-gigs' the_type='plans' page=1 %}" hx-trigger="load">
                    <i class="fas fa-spinner fa-pulse fa-lg"></i>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block localscripts %}
<script src="{% static 'js/plan_buttons.js' %}"></script>
<script src="{% url 'javascript-catalog' %}"></script>
<script>

$(document).ready(function() {
    htmx.on("htmx:afterSettle", function(evt) {
        init_plan_comments("{{csrf_token}}");
    });
    $('.popcomment').tooltip({ 'trigger':'hover click' });
});
</script>
{% endblock localscripts %}
