{% load i18n static agenda_tags %}
<div class="mx-auto col-md-10 col-12">
    <span hx-get="{% url 'plans-count' the_type=0 the_band=0 %}" hx-target="#needplan-badge" hx-trigger="load"></span>

    <div class="card mb-4">
        <div class="card-header">
            <div class="row titlerow">
                <div class="col-12">
                    {{ title }}
                    <i class="fas fa-spinner fa-pulse fa-lg htmx-indicator" id="indicator"></i>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% if plans|length %}
                {% for plan in plans %}
                    <div class="row" style="padding-top: 5px; padding-bottom: 5px; {% cycle '' 'background:#f5f5f5' %}">
                        <div class="col-12">
                            {% is_plan plan as its_a_plan %}
                            {% if its_a_plan %}
                                {% include "agenda/agenda_plan_edit.html" with plan=plan %}
                            {% else %}
                                <h2 class="separator">{{ plan }}</h2>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% trans "No Gigs!" %}
            {% endif %}
        </div>
    </div>
</div>
