{% extends 'base/go3base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Schedule" %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="mx-auto col-md-10 col-12">
        <div class="page-header">
            {% trans "Schedule" %}
            {% if user.preferences.default_view != 0 %}
                <span id='default-sel'>
                    <small>(<a hx-get="{% url 'set-default-view' val=0 %}" hx-target='#default-sel' href="#">{% trans "Make this my default view!" %}</a>)</small>
                </span>
            {% endif %}
        </div>
    </div>
</div>
{% include 'agenda/hidden_bands_info.html' %}
<div class="row mt-2"></div>
{% if user.preferences.agenda_use_classic %}
    {% if noplans %}
    <div class="row" hx-get="{% url 'agenda-gigs' the_type=0 the_band=0 %}" hx-trigger="load">
    </div>
    <div class="row mt-2"></div>
    {% endif %}
    <div class="row" hx-get="{% url 'agenda-gigs' the_type=3 the_band=0 %}" hx-trigger="load">
    </div>
{% else %}
    <div class="row">
        <div class="col-md-10 col-12 mx-auto justify-content-start">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="flex-wrap: wrap;">
                {% for button in the_buttons %}
                    <label class="btn btn-sm btn-outline-secondary filter shadow-none active">
                        <input type="radio" name="options" id="option1" {% if button.3 %}checked{% endif %}
                        hx-get="{% url 'agenda-gigs' the_type=button.0 the_band=button.2 %}"
                        hx-target="#the-list" hx-indicator="#indicator">{{button.1}}
                        {% comment %}
                            For the badge, just use a static value unless it's the "need response"
                            button, in which case do it dynamically from the agenda_gigs.html content
                        {% endcomment %}
                        {% if button.4 %}
                        <span class="badge badge-secondary" id="needplan-badge">&nbsp;&nbsp;</span>
                        {% else %}
                        <span class="badge badge-secondary"
                            hx-get="{% url 'plans-count' the_type=button.0 the_band=button.2 %}" hx-trigger="load"></span>
                        {% endif %}
                    </label>
                    {% if button.3 %}<span hx-get="{% url 'agenda-gigs' the_type=button.0 the_band=button.2 %}"
                    hx-target="#the-list" hx-trigger="load"  hx-indicator="#indicator"></span>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row mt-2"></div>
    <div class="row" id="the-list">
        <div class="col-md-10 col-12 mx-auto justify-content-start">
            <i class="fas fa-spinner fa-pulse fa-lg htmx-indicator" id="indicator"></i>
        </div>
    </div>
{% endif %}

{% endblock content %}

{% block localscripts %}
<script src="{% static 'js/plan_buttons.js' %}"></script>
<script src="{% url 'javascript-catalog' %}"></script>
<script>

$(document).ready(function() {
    htmx.on("htmx:afterSettle", function(evt) {
        init_plan_comments("{{csrf_token}}");
    });
    $('.popcomment').tooltip({ 'trigger':'hover click' });
});
</script>
{% endblock localscripts %}
