{% load i18n %}
{% load humanize %}

{% comment %}
{% with assoc=plan.assoc %}
{% if assoc.is_multisectional %}
    {% set show_section = True %}
{% else %}
    {% set show_section = False %}
{% endif %}
{% endcomment %}

{% with assoc=plan.assoc gig=plan.gig band=plan.assoc.band section=plan.section%}
{% if assoc.colorval != "#ffffff" %}
    <div class="row" style="border-left:solid 5px {{ assoc.colorval }};">
{% else %}
    <div class="row" style="position:relative; left:5px;">
{% endif %}
    <div class="col-sm-12 col-md-3">
        {{ gig.date|naturalday:"SHORT_DATE_FORMAT"|capfirst }} {{ gig.date|date:"D" }}
{% comment %}
Add the day of week to the short_date_format - can just append D?
{% endcomment %}

        {% if gig.has_call_time %}
            {{ gig.date|time:"TIME_FORMAT" }}
        {% endif %}
        <span style="display: inline-block; vertical-align: middle;">
        {% if gig.status == 1 %}
            <i class="fas fa-check-circle float-md-right" style="color:green"></i>
        {% elif gig.status == 2 %}
            <i class="fas fa-times-circle float-md-right" style="color:red"></i>
        {% else %}
            <i class="fas fa-question-circle float-md-right" style="color:orange"></i>
        {% endif %}
        </span>
    </div>
    <div class="col-sm-12 col-md-5">
        <a href="/gig/{{ gig.id }}" ><strong>{{ gig.title }}</strong></a>
        {% if user.band_count > 1 and not single_band %}
            <a href="/band/{{ band.id }}">
            {% if band.shortname %}
                ({{ band.shortname }})
            {% else %}
                ({{ band.name }})
            {% endif %}
            </a>
        {% endif %}
    </div>
    {% if gig.status != 2 %}
        <div class="col-12 col-md-4 btn-group" role="group">
            {% if gig.plans_locked and not the_user_is_band_admin %}
                <span class="mr-2">
                    {% include "gig/plan_icon.html" with plan_value=plan.status %}
                    <i class="fas fa-lock text-info"></i>
                </span>
            {% else %}
                {% include "gig/plan_icon_button.html" with simple_planning=band.simple_planning %}
            {% endif %}
            {% if band.plan_feedback %}
                {% include "gig/plan_feedback_button.html" with feedback_strings=band.feedback_strings %}
            {% endif %}
            {% if assoc.is_multisectional %}
                {% if band.sections.all|length > 1 %}
                    <div class="dropdown mr-2">
                        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" role="button" data-toggle="dropdown" id="sel-{{plan.id}}" aria-haspopup="true" aria-expanded="false">
                            {% if section == None %}
                                {% trans "section" %}...  <span class="caret"></span>
                            {% else %}
                                {{section.name }} <span class="caret"></span>
{% comment %}
TODO the section name had a 'shorten' filter
{% endcomment %}
                            {% endif %}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="sel-{{plan.id}}">
                            {% for section in band.sections.all %}
                                <a class="dropdown-item"
                                   hx-get="{% url 'plan-update-section' pk=plan.id val=section.id %}"
                                   hx-ext="update-dropdown"
                                   hx-target="#sel-{{ plan.id }}">
                                    {{ section.name }}
                                </a>
{% comment %}
TODO the section name had a 'shorten' filter
{% endcomment %}

                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <a style="color:black; text-decoration: none; border-bottom: dashed 1px #0088cc;{% if plan.comment %}display:none;{% endif %}" href="#" id="comment-init-{{plan.id}}"
                onclick='show_comment("{{plan.id}}")'><i class="far fa-comment"></i></a>
        </div>
    {% else %}
        <div class="col-12 col-md-4">
            <strong>{% trans "Canceled!" %}</strong>
        </div>
    {% endif %}
</div>
{% if gig.status != 2 %}
    <div class="row" style="border-left:solid thick {{ assoc.colorval }};{% if not plan.comment %}display:none;{% endif %}" id="comment-row-{{plan.id}}">
        <div class="ml-auto col-12 col-md-9">
            <a href="#" class="comment-thing" id="comment-{{plan.id}}" data-type="text" data-pk="{{plan.id}}" data-url="/gig/plan/{{ plan.id }}/comment" data-title="">{{plan.comment|default_if_none:""}}</a>
        </div>
    </div>
{% endif %}
{% endwith %}
