{% load i18n %}
{% load static %}
<div class="mx-auto col-md-10 col-12">
    <div class="card mb-4">
        <div class="card-header">
            <div class="row titlerow">
                <div class="col-12">
                    {{ title }}
                </div>
            </div>
        </div>
        <div class="card-body">
            {% if plans|length %}
                {% for plan in plans %}
                    <div class="row" style="padding-top: 5px; padding-bottom: 5px; {% cycle '' 'background:#f5f5f5' %}">
                        <div class="col-12">
                            {% include "agenda/agenda_plan_edit.html" with plan=plan %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% trans "No Gigs!" %}
            {% endif %}
        </div>
    </div>
</div>
