{% extends 'base/go3base.html' %}
{% load i18n %}
{% load static %}

{% block headcontent %}
        <!-- Custom styles for calendar -->
        <link href='/static/fullcalendar/lib/main.css' rel='stylesheet' />
{% endblock headcontent %}


{% block title %}{% trans "Calendar"%}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="page-header page-header mx-auto col-md-10 col-12">
            {% trans "Calendar" %}
            {% if user.preferences.default_view != 2 %}
            <span id='default-sel'>
                <small>(<a hx-get="{% url 'set-default-view' val=2 %}" hx-target='#default-sel' href="#">{% trans "Make this my default view!" %}</a>)</small>
            </span>
            {% endif %}
        </div>
    </div>
    {% if user.preferences.calendar_show_only_committed or user.preferences.calendar_show_only_confirmed %}
        <div class="row">
            <div class="page-header page-header mx-auto col-md-10 col-12">
                {% if user.preferences.calendar_show_only_committed %}
                    {% trans "Showing only your committed gigs" %}
                {% elif user.preferences.calendar_show_only_confirmed %}
                    {% trans "Showing only confirmed gigs" %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="mx-auto col-md-10 col-12">
            <div id='calendar'></div>
        </div>
    </div>
{% endblock content %}

{% block localscripts %}
    <script src='{% static "fullcalendar/lib/main.js" %}'></script>
    {% if user.preferences.language != "en" %}
        <script src='{% static "fullcalendar/lib/locales/"|add:user.preferences.language|lower|add:".js" %}'></script>
    {% endif %}
    <script>

    var calendar=null;

    function calCallback(rawEvents, xhr) {
        // Updates the browser address bar to reflect the current date view
        mo = calendar.getDate();
        window.history.replaceState({}, "", window.location.origin+window.location.pathname+"?y="+mo.getYear()+"&m="+mo.getMonth());
    }

    $(document).ready(function() {
        // page is now ready, initialize the calendar...
        var calendarEl = document.getElementById('calendar');

        calendar = new FullCalendar.Calendar(calendarEl, {
            // put your options and callbacks here
            themeSystem: 'bootstrap',
            locale: '{{ user.preferences.language }}',
            eventSources : [{
                url: '/calendar/events/{{ user.id }}',
                method: 'GET',
            }],
            {% if initialDate %}
                initialDate: '{{ initialDate }}',
            {% endif %}
            //     error: function() {
            //         alert('there was an error while fetching events!');
            //     },
            // },
            eventSourceSuccess: calCallback,
        });
        calendar.render();
    });
    </script>
{% endblock localscripts %}

