{% extends 'base/go3base.html' %}
{% load i18n %}
{% load static %}

{% block headcontent %}
<link rel="stylesheet" href="{% static 'heatmap/jquery.CalendarHeatmap.min.css' %}">
{% endblock headcontent %}

{% block title %}{% trans "Grid"%}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="page-header page-header mx-auto col-md-10 col-12">
            {% trans "Grid" %}
            {% if user.preferences.default_view != 1 %}
            <span id='default-sel'>
                <small>(<a hx-get="{% url 'set-default-view' val=1 %}" hx-target='#default-sel' href="#">{% trans "Make this my default view!" %}</a>)</small>
            </span>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="mx-auto col-md-10 col-12">
            <div id="heatmap-demo"></div>
        </div>
    </div>
{% endblock content %}

{% block localscripts %}
<script src="{% static 'heatmap/jquery.CalendarHeatmap.min.js'%}"></script>
<script>

var data = [
	    {count: 2, date: "2020-09-23"},
	    {count: 1, date: "2020-10-23"},
	    {count: 4, date: "2020-11-11"},
	    {count: 8, date: "2020-11-13"},
	    {count: 3, date: "2020-11-21"},
	]

function handleClick(x) {
    console.log('click '+x)
}

$(document).ready(function() {
    $("#heatmap-demo").CalendarHeatmap(data, {
        // options here
    });
    
    // for each month, add a handler to update the list of gigs on display
    $('.ch-month').each(function(i, obj) {
        obj.addEventListener( "click", function() { handleClick(i); } );
    });
});

</script>
{% endblock localscripts %}

