{% extends 'base/go3base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Stats" %}{% endblock title %}

{% block content %}
<div class="row">
    <div class="page-header mx-auto col-lg-8 col-md-10 col-sm-12">
        {% trans "Gig-O-Matic Stats" %} - {{url_base}}
    </div>
</div>
<div>
    <div class="mx-auto col-lg-8 col-md-10 col-sm-12">
        {% for stat in the_stats %}
        <div class="row" style="padding-top: 5px; {% cycle '' 'background:#f5f5f5;' %}">
            <div class="col-3">
                {{ stat.0 }}
            </div>
            <div class="col-3">
                {{ stat.1 }}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
&nbsp;
<div class="row">
    <div class="mx-auto col-lg-8 col-md-10 col-sm-12">
        <div class="col-12" id="bandcharts" data-charts='{{gigs_over_time_data}}'></div>
    </div>        
</div>
&nbsp;
<div>
    <div class="mx-auto col-lg-8 col-md-10 col-sm-12">
        <div class="row">
            <div class="col-4">
                {% trans "Top email senders" %}
            </div>
            <div class="col-4">
                {% trans "All Time" %}
            </div>
            <div class="col-4">
                {% trans "Today" %}
            </div>
        </div>
        {% for stat in top_email_bands %}
        <div class="row" style="padding-top: 5px; {% cycle '' 'background:#f5f5f5;' %}">
            <div class="col-4">
                {{ stat.0 }}
            </div>
            <div class="col-4">
                {{ stat.1 }}
            </div>
            <div class="col-4">
                {{ stat.2 }}
            </div>
        </div>
    {% endfor %}
    </div>
</div>


{% endblock content %}

{% block localscripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{% static 'js/band_stats.js' %}"></script>
<script>

$(document).ready(function() {
    initStats('bandcharts');
});
</script>

{% endblock localscripts %}
